#OMake
.omakedb
.omakedb.lock
OMakefile.omc
OMakeroot.omc


#Coq
*.vo
*.glob
*.v.d

*~

*.omc
*.cm[iox]
*.o

#実行ファイル
a.out
lazykoq.opt
lazykoq.run
main

#lazykoq.vから生成される
lazyKoq.ml
lazyKoq.mli

#lexer.mllから生成される
lexer.ml
lexer.mli

#parser.mlyから生成される
parser.ml
parser.mli

memo.txt
